# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignore configuration files that may contain sensitive information
/sites/*/*settings*.php
web/sites/*/*services*.yml

#ignore custom
web/sites/default/files/*
/sites/default/setting.php
*.sql

# Ignore paths that may contain user-generated content
web/sites/*/files
web/sites/*/public
web/sites/*/private
web/sites/*/files-public
web/sites/*/files-private

# Ignore paths that may contain temporary files
web/sites/*/translations
web/sites/*/tmp
web/sites/*/cache

# Ignore testing related files
web/sites/simpletest

# Ignore drupal core (if not versioning drupal sources)
/core
/modules/README.txt
/profiles/README.txt
/sites/README.txt
/sites/example.sites.php
webweb/sites/example.settings.local.php
web/sites/development.services.yml
web/sites/default/settings.local.php
/themes/README.txt
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/autoload.php
/example.gitignore
/index.php
/LICENSE.txt
/README.txt
/robots.txt
/update.php
/web.config
